body
	background-color: white
	font-family: sans-serif

svg 
	display: block
	font: normal 12px Arial
	.axis
		path
			fill: none
			stroke: #000
			shape-rendering: crispEdges
		line
			stroke: silver
			stoke-width: 0.3


line
	stroke: #000000
	fill: none

.tick
	fill: blue

svg
	.in
		fill: green