body
	background-color: white
	font-family: sans-serif

h3
	margin: 0
	padding: 0

section
	margin-bottom: 1em
	&:after
		content: ' '
		display: block
		clear: both
	.experiment
		display: none

table.results
	border-color: white
	tr td:nth-child(1), tr th:nth-child(1)
		width: 140px
	td, th
		text-align: center
		padding: 0.2em 0
		width: 50px
		height: 32px
		vertical-align: middle
	.summary
		> tr > td
			text-align: left
			padding: 6px 10px
		table
			float: left
			td
				min-width: 30px
		button
			float: right

svg.bins-10
	margin-left: 100px

code
	display: inline-block

.tip 
	margin: 1em 0em
	border: solid 1px rgb(201, 201, 201)
	padding: 1em
	box-shadow: rgb(133, 133, 133) 1px 1px
	p:last-child
		margin-bottom: 0
		padding-bottom: 0

#coin-10-times-20-trials-table		
	thead, tbody
		display: block
	tbody
		height: 200px
		overflow: auto
	// td 
	// 	padding: 3px 10px
	td, th
		overflow: hidden
	



svg 
	display: block
	font: normal 12px Arial
	.axis
		path
			fill: none
			stroke: #000
			shape-rendering: crispEdges
		line
			stroke: silver
			stoke-width: 0.3


line
	stroke: #000000
	fill: none


// #coin-10-times-20-trials
// 	table.results
// 		float: left
// 	svg
// 		margin-left: 20px
// 		display: block
// 		float: left