body
	background-color: white
	font-family: sans-serif

section
	margin-bottom: 1em
	&:after
		content: ' '
		display: block
		clear: both
	.experiment
		display: none
	table.results
		border-color: white
		td, th
			text-align: center
		> tbody td, > thead th
			padding: 0.2em
			width: 45px
			height: 25px
		.summary
			> tr > td
				text-align: left
				padding: 6px 10px
			table
				float: left
				td
					min-width: 30px
			button
				float: right

code
	display: inline-block

svg 
	display: block
		text
		font: normal 12px Arial
	.axis
		path
			fill: none
			stroke: #000
			shape-rendering: crispEdges
		line
			stroke: silver
			stoke-width: 0.3


line
	stroke: #000000
	fill: none


#coin-10-times-20-trials
	table.results
		float: left
	svg
		margin-left: 20px
		display: block
		float: left