<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/d3.js"></script>

        <script type="text/x-mathjax-config">
          //MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
        </script>
        <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        <link href="home/style/index.css" type="text/css" rel="Stylesheet" />
    </head>
<body>
    <header>
    </header>
    <article id="graphs">
        <section id='coin-2-times'>
            <h2>Binomial Experiment</h2>
            <p>
                Let's
                <button data-action='coin-2-times'>toss a coint for a couple of times</button>
            </p>
            <table style="width:280px" class='results experiment' cellpadding="0" cellspacing="0" border="1">
                <tbody>
                    <tr class='toss'>
                        <th>Toss</th>
                    </tr>
                    <tr class='result'>
                        <th>Result</th>
                    </tr>
                </tbody>
                <tfoot class="summary">
                    <tr>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <th>Heads:</th><td style="width:30px"><span data-value='Heads'></span></td>
                                    <th>Tails:</th><td style="width:30px"><span data-value='Tails'></span></td>
                                </tr>
                            </table>
                            <button data-action='coin-2-times'>Repeat</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <p>
                Click on the <button data-action='coin-2-times'>Repeat</button> button to repeat the experiment.
            </p>
            <p>
                As you're repeating this trial, you might notice that we get the result of 1 Head and 1 Tail 
                more frequently.
                This is because when we toss a coin the first time and then pick it up and toss
                it again for a second time, we're actually doing two independent trials. Whether we get a Head
                or a Tail at the first toss, does not affect the result of our second toss.
            </p>
            <p>
                To fully understand this trial, we should treat first and second tosses as separate
                events. There are four possible outcomes to this trial: 
            </p>
            <pre>
First Toss Head, Second Toss Head
First Toss Head, Second Toss Tail
First Toss Tail, Second Toss Tail
First Toss Tail, Second Toss Head</pre>
            <p>
                We can summerize this result by this notation:
            </p>
            <pre>
(H, H)
(H, T)
(T, T)
(T, H)</pre>
        <p>
            We see that in two out of four outcomes, 
            we have 1 Head and 1 Tail: <code>(H, T)</code> and <code>(T, H)</code>.

            Back to our original experiment, now it's clear why we had a sense that
            we're more likely to have 1 Head and 1 Tail result. It's because in 2/4 times or 50% of the time
            the result of our experiment is <code>1 Head and 1 Tail</code>:
        </p>
        <pre>
(H, H) -> 25%
(H, T) -> 25%
(T, T) -> 25%
(T, H) -> 25%</pre>
        <pre>
0 Head , 2 Tails  -> 25%
1 Head , 1 Tail   -> 25% + 25% = 50%
2 Heads, 0 Tail   -> 25%</pre>
        <p>
            When we toss a coin for two times, we're twice as much likely to get <code>1 Head and 1 Tail</code> than
            <code>2 Heads and 0 Tails</code> or <code>0 Heads and 2 Tails</code>.
        </p>
        <p>
            Before we go forward note that knowing the number of Heads in each experiment is sufficient.
            If we know how many times we got a Head, then we know the number of Tails.
                <pre>
Number of Heads + Number of Tails =  Number of throws (10 times in this example)
                </pre>
            For simplicity, from here on, we only count the number of Heads.
        </p>
        </section>
        <section id='coin-10-times'>
            <p>
                Now let's <button data-action='coin-10-times'>toss a coin for 10 times</button>:
            </p>
            <table class='results experiment' cellpadding="0" cellspacing="0" border="1">
                <tbody>
                    <tr class='toss'>
                        <th>Toss</th>
                    </tr>
                    <tr class='result'>
                        <th>Result</th>
                    </tr>
                </tbody>
                <tfoot class="summary">
                    <tr>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <th>Heads:</th><td style="width:30px"><span data-value='Heads'></span></td>
                                    <th>Tails:</th><td style="width:30px"><span data-value='Tails'></span></td>
                                </tr>
                            </table>
                            <button data-action='coin-10-times'>Repeat</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <p>
                We are interested to find out how many Heads we will get if we throw a coin 10 times.
                It's a no brainer,
                the chance of getting a Head at each toss of a coin is 50%, and after tossing for 10 times we probably will have 10 Heads.
            </p>
            <p>
                Keep repeating the experiment. 

                You might thought that when we throw a coin for 10 times, the most expected outcome is that we end up with
                <code>5 Heads and 5 Tails</code>. That's true, but now after a few repeat we will consider ourselves
                lucky if you end up with exactly
                <code>5 Heads and 5 Tails</code>. 

                But almost never end up in a situation that we get 
                <code>10 Heads and 0 Tails</code> or <code>0 Heads and 10 Tails</code> either.
                You have to be very lucky that if trow a coin for 10 times and each time you get a Head.
                Don't get me wrong, it might happen, but it's very unlikely.

            </p>
            <p>
                In fact by repeating this experiment, we see that
                thou we call outselves lucky if we have exactly <code>5 Heads and 5 Tails</code> but
                we're almost always close to that magic middle.
            </p>
            <p>
                This time the set of all the possible outcomes is enormous:
            </p>
            <pre>
(T, T, T, T, T, T, T, T, T, T)
(H, T, T, T, T, T, T, T, T, T)
(T, H, T, T, T, T, T, T, T, T)
...
(H, H, T, H, T, T, T, T, H, T)
...
(H, H, H, H, H, H, H, H, H, H)</pre>
            <p>
                In fact we have \( 2^{10} = 1024 \) number of distinct outcomes.
            </p>


        </section>
        <section id="coin-10-times-20-trials-table">
            <p>
                Instead of keep clicking on the repeat button, let's repeat our experiment (thorwing a coin 10 times and counting the number of Heads), for 20 trials. It's like clicking on the repeat button for 20 times.
            </p>
            <p>
                <button data-action='coin-10-times-20-trials-all'>Count the number of heads after tossing a coin 10 times, for 20 trials</button>
            </p>
            <table class='results experiment' cellpadding="0" cellspacing="0" border="1">
                <tbody>
                    <tr class='toss'>
                        <th>Toss</th>
                    </tr>
                </tbody>
            </table>
            <p>
                The table above contains the full dataset of our experiment. Each cell indiacates a toss of coin.
                Each row is a trial (10 times tossing a coin).
                The result of the trial (the number of times we got a Head in each 10 tosses) is shown in the last column.
            </p>
            <p>
                Note that in 20 trials, we might get some of the less likely results of <code>2 Heads</code> or
                <code>8 Heads</code>.
            </p>
        </section>
        <section id="coin-10-times-20-trials-table-sum">
            <p>
                This table can be overwhelming. Especially you might have guessed that soon we will be doing
                this experiment not just for 20 trials but for houndrads or thousands of trials.
            </p>
            <p> 
                We can summerize the table by counting how many times we ended up with <code>0 Heads</code>, 
                <code>1 Head</code>, <code>2 Heads</code> and so on.
            </p>
            <table class='results experiment' cellpadding="0" cellspacing="0" border="1">
                <tbody>
                    <tr class='count'>
                        <th>Count of Heads</th>
                    </tr>
                    <tr class='trials'>
                        <th>Number of Trials</th>
                    </tr>
                </tbody>
            </table>
            <p>
                At each trial, we're throwing a coin for 10 times. So at each trial,
                the numeber of times that we get a Head is
                between 0 and 10 (we cannot get 11 Heads by tossing a coin for 10 times!).
            </p>
            <p>
                Take a look the summary table above, I think it proves our suspicion that we're most likely
                to be somewhere in the middle. Meaning that if we toss a coin for 10 times, we're most likely to
                have a 4, 5 or 6 number of Heads. And it's very unlikely to get 0, 1, 9 or 10 Heads.
            </p>
            <div class="interesting" style="display:none">
                <p>
                    If we sum up
                    <pre>
  (0  * Number of trials that we got 0  Heads) 
+ (1  * Number of trials that we got 1  Head ) 
+ (2  * Number of trials that we got 2  Heads)
+  ...
+ (10 * Number of trials that we got 10 Heads)</pre>
                    We end up with a number that is very close to 100:
                </p>
                <pre class='math-sum'></pre>
                <p>
                    100 is indeed (200/2) or (200 * 0.5). Where 200 is the total number of times that we tossed the coin
                    and 0.5 is the probability of getting a Head at each toss.
                    If our coin was not fair (meaning that the probability of getting Head was not 0.5, or 50%) 
                    then this number would have been different. More about this later.
                </p>
            </div>
        </section>
        <section id="coin-10-times-20-trials">
            <p>
                We're going to love visualization and prefer graphs to data tables.
                We can put the number of Heads on X axis and the the number of times that
                we ended up with that number of Heads on Y.
            </p>
            <p>
                Technically we say that the number of Heads is the independant variable.
            </p>
            <svg class='experiment results'></svg>
            <p>
                We call this graph a histogram. The height of each bar
                shows how many times we had that X number of Heads in our experiment.
            </p>
            <p>
                One way to think about this histogram, is that it is made of 11 bins (11 = 10 + 1).
                At the end of each trial, when we count the number of Heads, we add one item to the correspoding bin.
                For example if we have 3 Heads, we add one to the 3rd bin and so on.
                Click on the <button data-action='coin-10-times-20-trials-graph-slow'>animate</button> button to see how this happens slowly.
            </p>
            <p>
                <button data-action='coin-10-times-20-trials-all'>Repeat</button> the experiment a few of times and
                check the shape of the histogram.
            </p>
        </section>

        <section id="coin-10-times-1000-trials">
            <p>
                Just a reminder, our original question was: when we toss a coin for 10 times, how many times we expect it to land on its Head?
                We're trying to answer this question by actually doing the experiment.
                After repeating the experiment for a few times we realized that it's a question of chance;
                we've seen that at each trial we end with a different number of Heads.
            </p>
            <p>
                The above histogram doesn't tell us much. But as we had expected, there seems to be some pattern here.
                The bars are longer near the middle of the graph (number 5), and our intuition was telling
                that we should expect to get 5 Heads when we toss a coin for 10 times.
            </p>
            <p>
                Let's repeat this experiment for 1000 times:
                throw a coin for 10 times, count the number of Heads and repeat it for 1000 times.
                
                <button data-action='coin-10-times-1000-trials-all'>Do it!</button>
            </p>
            <table class='results experiment table-summary' cellpadding="0" cellspacing="0" border="1">
                <tbody>
                    <tr class='count'>
                        <th>Count of Heads</th>
                    </tr>
                    <tr class='trials'>
                        <th>Number of Trials</th>
                    </tr>
                </tbody>
            </table>
            <svg class='experiment results'></svg>

            <p>
                This time our histogram has a very distinctive shape. And the shape doesn't seems to be changing
                when we <button data-action='coin-10-times-1000-trials-all'>repeat</button> the experiment.
            </p>
            <p>
                Think about our bins analogy: at the end of each trial we count the number of Heads and we add a 
                an item to the corresponding bin; <button data-action='coin-10-times-1000-trials-graph-slow'>See</button>
                how it happens. At the end of experiment the total number of items that we have put into the bins
                is equal to 1000. Run the experiment in <button data-action='coin-10-times-1000-trials-graph-slow'>slow motion</button>,
                and see we're adding 1000 tiny items to the bars.
            </p>
            <p>
                In the above experiment, in <span>231</span> trials we got 5 Heads.
                After repeating the trial for 1000 times
                we can say that we're confident that the chance of getting 5 Heads is almost equals to 231/1000 or ~23%.
            </p>
            <p>
                Genrally, there's some chance that we get 0 Heads, some chance for 1 Head ...
                The chance of getting less than 0 Heads or more than 10 Heads is 0.
                The chance of getting X Heads is directly related the height of the bars in the histogram;
                higher bars mean greater chance:
            </p>
            <table class='results experiment table-summary-chance' cellpadding="0" cellspacing="0" border="1">
                <tbody>
                    <tr class='count'>
                        <th>Count of Heads</th>
                    </tr>
                    <tr class='trials'>
                        <th>Chance</th>
                    </tr>
                </tbody>
            </table>
            <p>
                We can say that if the chance of getting 5 Heads is 23%, then after tossing a coin for 10 times
                we expect to have by average 2.3 number of Heads \( 2.3 = 23\% \times 10 \).
            </p>
            <p>
                When we sum up the chance of getting 0 Heads + the chance of getting 1 Head + ... + the 
                chance of getting 10 Heads we get 100%:
            </p>
                <pre class='math-sum-chance'></pre>
            <p>                
                Sum of Chances = 100%
            </p>
            <p>
                That means that when we throw a coin for 10 times, 
                we're anyway going to get 0 or 1 or ... or 10 Heads.
            </p>
            <p>
                We're of course not bound to 10 bins (10 tosses of coin per trial),
                use this slider to chane the number of bins (tosses):
            </p>
            <div>
                <input type="range" min="1" max="15" value="10" name='number-of-bins'>
                <button data-action='coin-10-times-1000-trials-all'>Redo with <label data-value-for='number-of-bins' data-transform='x+1'>11</label> bins</button>
            </div>

          
            <!--
            <p>
                Change the number trials:
            </p>
            <div>
                <input type="range" min="1" max="500" value="500" name='number-of-trials'>
                <button data-action='coin-10-times-1000-trials-all'>Repeat the trial <label data-value-for='number-of-trials'>500</label> times</button>
            </div>
            <p>
                Note that the shape of the histogram becomes less predictable with smaller number of trials.
            </p>
            -->
        </section>

        <section class='coin-10-times-binomial'>
            <h2>Binomial Trial</h2>
            <p>
                The dumb thing about our way so far has been that, we tried to solve our problem
                with a brute force approach. We tossed a coin 10 &times; 1000 times to find the
                chance of getting 5 Heads. There's indeed a mathematically smarter way to calculate
                this number.
            </p>
            <p>
                Remember that when we tossed a coin for 10 times, the set of all possible 
                out comes has \( 2^{10} = 1024 \) members:
            </p>
            <pre>
1.    (T, T, T, T, T, T, T, T, T, T)
2.    (H, T, T, T, T, T, T, T, T, T)
3.    (T, H, T, T, T, T, T, T, T, T)
      ...
1023. (H, H, H, H, H, H, H, H, H, T)
1024. (H, H, H, H, H, H, H, H, H, H)</pre>
            <p>
                By looking at the above set of outcomes, we can count that in 1 out of 1024
                ( \( \frac{1}{1024} \) ) ways our outcome has 0 Heads. In a same manner, if we list
                all the members we can count the number of outcomes with exactly 1 Head, 2 Heads ...
            </p>
            <p>
                Instead of listing and counting the outcomes, there's a math funciton that gives us 
                those numbers, it's called Choose (or Combinaiton):
                \[
                    Choose (10, k) = \begin{pmatrix} 10 \\ k \end{pmatrix}
                \]
                Choose(10, k) gives us the number of outcomes that have exactly k Heads.
                Obviously \( 0 \le k \le 10 \). And since we have a total 1024 distinct outcomes,
                the chance of getting k Heads is equal to
                \[
                    \frac{Choose (10, k)}{2^{10}} = \frac{Choose (10, k)}{1024}
                \]
            </p>
            <p class="tip">
                Chance is the ratio of how many different ways we can get a particular outcome 
                (here for example in how many different ways we can get 5 Heads) over the total
                number of possible outcomes.
            </p>
            <p>
                Let's calculate this chance for \( 0 \le k \le 10 \):
            </p>
            <table class='results table-summary-chance' cellpadding="0" cellspacing="0" border="1" id="binomial-10-chance-table">
                <tbody>
                    <tr class='count'>
                        <th>Count of Heads</th>
                    </tr>
                    <tr class='trials'>
                        <th>Chance</th>
                    </tr>
                </tbody>
            </table>
            <p>
                And here's the histogram for the above data:
            </p>
            <svg class='results' id='binomial-10-chance-graph'></svg>
            <p>
                In this example the height of bars
                at each number indicates the probability of getting that number of Heads
                (or Tails) in a trial of 10 times throwing a coin.
            </p>
            <p>
                Back to original question, I think it's clear now that there's no definite
                answer to 'how many Heads we get by throwing a coin for 10 times'. But 
                there's a definite probability distribution that answers our question.
                Some number of Heads are more probable than the others. This graph shows that
                the most probable outcomes are 4, 5 and 6 and we have to be really lucky
                to get 0, 1, 9 or 10 Heads.
            </p>
        </section>
        <section class='coin-n-times-binomial'>
            <p>
                Let's see how the shape of our histogram changes when we change the number of bins:
            </p>
            <svg class='results' id='binomial-n-chance-graph'></svg>
            <div>
                <input type="range" min="10" max="100" value="10" name='number-of-bins' onchange="actions['coin-n-times-binomial']()">
                <button data-action='coin-n-times-binomial'>Redo with <label data-value-for='number-of-bins' data-transform='x'>10</label> tosses (<label data-value-for='number-of-bins' data-transform='x+1'>11</label> bins)</button>
            </div>
            <p>
                Note how the graph becomes wider and the height of the bars
                become shorter as we have more bins. The important fact is that the sum of the 
                area that is covered by the bars is 1 (or 100%).
            </p>
            <p>

                The graph is symmetric around
                \( \frac{Number \ of \ Tosses}{2} = Number \ of \ Tosses \times 0.5 \). Here 
                \( \frac{1}{2} \) or 0.5 or 50% is the probability of getting a Head in a single toss of
                a coin. It's 50% because we're dealing with a fair coin.
            </p>
        </section>

        <section class='binomial-n-p-chance'>
            <h2>Unfair Coins</h2>
            <p>
                So far we've been dealing with a fair coin. How is it related to A/B tests?
            </p>
            <p>
                Let's say we want to study the conversion rate of a landing page.
            </p>
                First, note that conversion of a landing page, very much like tossing a coin
                has two outcomes: Success and Failure (we say it's binomial).
            </p>
            <p>
                Second, when we  let's say have 150 visitors, it's very much like throwing a coin for 150 times.
                Each time that we toss a coin we get either a Head or a Tail. And the number of Heads or Tails after 150
                tosses is between 0 and 150. Similarly the number of Successes or Failures in 150 trials is 
                between 0 and 150. And knowing the numebr of Successes or Failures is sufficient. For example if we
                have 60 Successes, then we have 90 Failures \( 150 - 60 = 90 \).
            </p>
            <p>
                The histogram below shows the binomial distribution of 60 subjects with a 50% Success rate. 
                Play with the Chance slider to see how the diagram changes when the Success rate is not
                50%.
            </p>
            <svg class='results' id='binomial-n-p-chance-graph'></svg>
            <div>
                Number of Bins:
                <input type="range" min="10" max="150" value="60" name='number-of-bins' onchange="actions['binomial-n-p-chance']()">
                <label data-value-for='number-of-bins' data-transform='x+1'>61</label>,

                Chance of Success (Head):
                <input type="range" min="0" max="1" step="0.01" value="0.5" name='chance' onchange="actions['binomial-n-p-chance']()">
                <label data-value-for='chance' data-transform='d3.format("%")(x)'>50%</label>
            </div>
            <p>
                At the extremeses, 
                <button data-action='binomial-n-p-chance100'>when the chance of Success is 100%</button>, we only have one bar at the right-most side
                of the diagram (at 60 in this example) 
                and 
                <button data-action='binomial-n-p-chance0'>when the chance of Success is 0%</button>,
                we have one bar at the left (at 0).
                Remember that the height of the bars (at each X) indicate our chances of getting that number of Successes.
                When the chance of Success is 0%, then we will always get 0 Successes. It's not a random trial anymore,
                we have a definite answer. Same for 100% chance of Success.
            </p>

        </section>

 
            <!-- 

                then show the plot of binomial distribution for 30 trials. (if instead of repeating the experiment 
                a million times, we use the correct precise mathematical formulas to calculate the chance
                that we get X Heads by 10 toss of a coin)
                
                Change of Y axis from numbers to probability -> Normalization



                forget the detailed explanation of 10000 times. Just say as #trials grow the shape looks
                closer to normal bell curve. To get a better shape let's do 30 trials 10000 times. + sliders

                law of large numebrs (10000).

                
                then Landing Page
             -->
        <section>
            <h2>Interpretation of Statistics</h2>

            <p>
                The whole idea of statistics is that we can't or we don't want to do the experiment with all the members of
                our population. In our landing page scenario, the population is anybody
                that will ever visit our landing page.
                As long as our page is getting more visits everyday, we're not going to 
                know every member of our population. Simply 
                because tomorrow we willl have more people visited our landing page.
            </p>
            <p>
                We're almost always dealing with a sample (subset) of our population.
                Because we're always studying a part of the population, we cannot be absolutely confident that our
                statistics are 100% accurate. For example if we find out that 60 out of 200 visitors of our landing page
                has converted, then we can say that the conversion rate of the landing page is \( \frac{60}{200} = 30 \% \).
                But this 30% might change as we get more visitors. It's a product of chance, we just might have
                been lucky with the first 200 visitors and have registered a higher conversion rate (or the opposite).
                We can only find the actual conversion rate of a landing page, when we retire the page and
                stop its traffic. But that's not what we usually want, we're interested to find how a page or
                how the A and B cases of our test are performing before it's too late.
            </p>
            <p>
                One way of thinking about the statistics of tossing a coin is that, we have an infinitely large
                dataset of tosses (our population is an infinite list of toss results: Heads or Tails). Tossing
                a coin for 200 times is equivalent to randomly pickining 200 items from this infinite list.
            </p>
            <pre>
              ...
              T  ,  H  ,  T  ,  H  ,  H  ,  T  , [H] ,  H  ,  T  ,  H 
              H  ,  T  ,  H  ,  H  ,  T  ,  H  ,  H  ,  T  ,  H  ,  T
              T  , [H] ,  T  ,  T  ,  H  , [T] ,  H  ,  H  ,  T  ,  H 
              H  ,  T  , [H] ,  H  ,  T  ,  H  ,  T  ,  T  ,  H  , [T] 
              T  ,  H  ,  T  ,  T  ,  H  ,  T  ,  H  ,  H  ,  T  ,  H 
              ...
            </pre>
            <p>
                Here we're using frequentism interpretation of statistics.
                This interpretation is very useful in our landing page problem;
                In the above table, assume each cell is a visitor.
                The size of the population (everyone that will eventually see our landing page) is huge,
                we assume it's infinite.
            </p>
            <p>
                We are interested to know how likely it is that the conversion rate that we've recorded
                after jusg 200 visits to the landing page is equal to (or close to) the actual conversion
                rate of a landing page (that can only be calculated when the page is expired).
            </p>
            <p>
                It's like picking 200 subjects from the infinite list of visitors.

                Hence uncertainty
            </p>
        </section>
        <section>
            <h2>Expected Value</h2>
            <p>
                If we do a trial over and over agian, and then find the average of the results of each trial,
                that average is the expected value.
                For example: if we toss a coin 10 times and count the number of Heads,
                and repeat this trial 1000 times, our expected value is the average number of Heads at each trial.
            </p>
            <p>
                Officially,
            </p>
            <pre>
Expected value = chance of getting 0  Successes &times; 0  +
                 chance of getting 1  Success   &times; 1  + 
                 ... + 
                 chance of getting n  Successes &times; n
            </pre>
            <p>
                We can call it the weighted average.
                \[
                    Expected \ value = \sum_{i = 0}^n p(i) \times i
                \]
                Or simply for us it is equal to 
                \[
                    Exptected \ value = Number \ of \ Subjects \times Probability \ of \ Succcess
                \]
                For a fair coin that we toss for 10 times, expected value is \( 10 \times 0.5 = 5 \).
            </p>
            </p>
            <!-- expected value -->

            <p>
                For now, let's assume we have 100 subjects.
                The result of the test for each subject is either Success or Failure.
                Let's assume that we have a luxary to perform
            </p>
            <p>
                This graph has a very distinctive shape.
                Bell curve
                Why we repeat?
            </p>
        </section>

        <section>
            <h2>Confidence Intervals</h2>
            <!--

            95%

            A/B confidence binomial

            Computation problem with binomial

            Normal approximation

            -->
            <p>
                We usually perform A/B tests with a number of subjects that is way larger than 15.
                In fact, a little bit later, we're going to calculate the minimum number of subjects that are
                needed to confidently conclude a test.
            </p>
        </section>
        <section>
            <h2>Formula</h2>

            Haskell code
        </section>
        <section>
            <h2>Normal approximation</h2>
        </section>
        <section>
            <h2>A/B Test</h2>

            So far we've been interpreting satistics as doing a random experiment over and over again.
            Another interpretation of statistics is that we're drawing randomly selected subsets (samples)
            of a very large population: Frequentism
            This interpretation is useful when dealing with popular polls.
            (polls: sample is less than population)
            draw over and over again


            Two/or more binomial distributions

            Next post:
                A/B confidence intervals

            Next post:
                Holy grail of A/B: case assignment

        </section>

        
    </article>
    <script src="javascript/libs/prelude-browser.js"></script>
    <script src="home/javascript/utils.js"></script>
    <script src="home/javascript/coin-trial-table.js"></script>
    <script src="home/javascript/binomial-histogram.js"></script>
    <script src="home/javascript/index.js"></script>


</body>
</html>