<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/d3.js"></script>
    
        <link href="home/style/index.css" type="text/css" rel="Stylesheet" />
    </head>
<body>
    <header>
    </header>
    <article id="graphs">
        <section id='coin-2-times'>
            <h2>Binomial Experiment</h2>
            <p>
                Let's
                <button data-action='coin-2-times'>toss a coint for a couple of times</button>
            </p>
            <table style="width:280px" class='results experiment' cellpadding="0" cellspacing="0" border="1">
                <tbody>
                    <tr class='toss'>
                        <th>Toss</th>
                    </tr>
                    <tr class='result'>
                        <th>Result</th>
                    </tr>
                </tbody>
                <tfoot class="summary">
                    <tr>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <th>Heads:</th><td style="width:30px"><span data-value='Heads'></span></td>
                                    <th>Tails:</th><td style="width:30px"><span data-value='Tails'></span></td>
                                </tr>
                            </table>
                            <button data-action='coin-2-times'>Repeat</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <p>
                Click on the <button data-action='coin-2-times'>Repeat</button> button to repeat the experiment.
                As we repeat the experiment we see that sometimes we get 1 Head and 1 Tails, sometimes 2 Heads and 0 Tails, etc.
                In fact there are only three possible outcomes of this experiment:
            </p>
            <pre>
0 Head , 2 Tails
1 Head , 1 Tail
2 Heads, 0 Tail</pre>
            <p>
                As you're repeating the experiment, you might notice that we get the result of 1 Head and 1 Tail 
                more frequently.
                This is due the fact that that we we toss a coin for the first time and then pick it up and toss
                it again for a second time, we're actually doing two independent experiments. Whether we get a Head
                or a Tail at the first toss, does not affect the result of our second toss.
            </p>
            <p>
                That means to fully understand this experiment, we should treat first and second tosses as separate
                trials. So actually there are four possible outcomes to this experiments: 
            </p>
            <pre>
First Toss Head, Second Toss Head
First Toss Head, Second Toss Tail
First Toss Tail, Second Toss Tail
First Toss Tail, Second Toss Head</pre>
            <p>
                We can summerize this result by this notation:
            </p>
            <pre>
(H, H)
(H, T)
(T, T)
(T, H)</pre>
        <p>
            We see that in two out of four possible outcomes, 
            we have 1 Head and 1 Tail: <code>(H, T)</code> and <code>(T, H)</code>.
        </p>
        <p>
            Back to our original experiment, now it's clear why we had a sense that
            we're more likely to have 1 Head and 1 Tail result. It's because in 2/4 times or 50% of the time
            the result of our experiment is <code>1 Head and 1 Tail</code>:
        </p>
        <pre>
(H, H) -> 25%
(H, T) -> 25%
(T, T) -> 25%
(T, H) -> 25%</pre>
        <pre>
0 Head , 2 Tails  -> 25%
1 Head , 1 Tail   -> 25% + 25% = 50%
2 Heads, 0 Tail   -> 25%</pre>
        <p>
            When we toss a coin for two times, we're twice as much likely to get <code>1 Head and 1 Tail</code> than
            <code>2 Heads and 0 Tails</code> or <code>0 Heads and 2 Tails</code>.
        </p>
        </section>
        <section id='coin-10-times'>
            <p>
                Now let's <button data-action='coin-10-times'>toss a coin for 10 times</button>:
            </p>
            <table class='results experiment' cellpadding="0" cellspacing="0" border="1">
                <tbody>
                    <tr class='toss'>
                        <th>Toss</th>
                    </tr>
                    <tr class='result'>
                        <th>Result</th>
                    </tr>
                </tbody>
                <tfoot class="summary">
                    <tr>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <th>Heads:</th><td style="width:30px"><span data-value='Heads'></span></td>
                                    <th>Tails:</th><td style="width:30px"><span data-value='Tails'></span></td>
                                </tr>
                            </table>
                            <button data-action='coin-10-times'>Repeat</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <p>
                Keep repeating the experiment. We'll almost never end up in a situation that we get 
                <code>10 Heads and 0 Tails</code> or <code>0 Heads and 10 Tails</code>.
                You have to be very lucky that you get trow a coin for 10 times and you each time you get a Head.
                Don't get me wrong, it might happen, but it's very rare.
            </p>
            <p>
                If you keep repeating this experiment, you'll notice that is also very unlikely that we end up with
                even <code>2 Heads and 8 Tails</code> or <code>8 Heads and 2 Tails</code> etc.
            </p>
            <p>
                You might think that when we throw a coin for 10 times, the most expected outcome is that we end up with
                <code>5 Heads and 5 Tails</code>. That's true, but you will consider yourself lucky if you end up with exactly
                <code>5 Heads and 5 Tails</code>. In fact by repeating this experiment, we see that
                though we call outselves lucky if we have exactly <code>5 Heads and 5 Tails</code> but
                we're almost always close to that magic middle.
            </p>
            <p>
                This time the set of all the possible outcomes is enormous:
            </p>
            <pre>
(T, T, T, T, T, T, T, T, T, T)
(H, T, T, T, T, T, T, T, T, T)
(T, H, T, T, T, T, T, T, T, T)
...
(H, H, T, H, T, T, T, T, H, T)
...
(H, H, H, H, H, H, H, H, H, H)</pre>
            <p>
                In fact we have 2^10 = 1024 number of distinct outcomes.
            </p>
            <p>
                Before we go forward note that if we know the number of Heads in each experiment is sufficient.
                If we know how many times we got a Head, then we know the number of Tails.
                    <pre>
Number of Heads + Number of Tails =  Number of times throws (10 times in this example)
                    </pre>
                For simplicity, from here on, we only count the number of Heads.
            </p>
        </section>
        <section id="coin-10-times-20-trials-table">
            <p>
                Instead of keep clicking on the repeat button, let's repeat our experiment (thorwing a coin 10 times and counting the number of Heads), for 20 trials. It's like clicking on the repeat button for 20 times.
            </p>
            <p>
                <button data-action='coin-10-times-20-trials-all'>Count the number of heads after tossing a coin 10 times, for 20 trials</button>
            </p>
            <table class='results experiment' cellpadding="0" cellspacing="0" border="1">
                <tbody>
                    <tr class='toss'>
                        <th>Toss</th>
                    </tr>
                </tbody>
            </table>
            <p>
                The table above contains the full dataset of our experiment. Each cell indiacates a toss of coin.
                Each row is a trial (10 times tossing a coin).
                The result of the trial (the number of times we got a Head in each 10 tosses) is shown in the last column.
            </p>
            <p>
                Note that in 20 trials, we might get some of the less likely results of <code>2 Heads</code> or
                <code>8 Heads</code>.
            </p>
        </section>
        <section id="coin-10-times-20-trials-table-sum">
            <p>
                This table can be overwhelming. Especially you might have guessed that soon we will be doing
                this experiment not just for 20 trials but for houndrads or thousands of trials.
            </p>
            <p> 
                We can summerize the table by counting how many times we ended up with <code>0 Heads</code>, 
                <code>1 Head</code>, <code>2 Heads</code> and so on.
            </p>
            <table class='results experiment' cellpadding="0" cellspacing="0" border="1">
                <tbody>
                    <tr class='count'>
                        <th>Count of Heads</th>
                    </tr>
                    <tr class='trials'>
                        <th>Number of Trials</th>
                    </tr>
                </tbody>
            </table>
            <p>
                At each trial, we're throwing a coin for 10 times. So at each trial,
                the numeber of times that we get a Head is
                between 0 and 10 (we cannot get 11 Heads by tossing a coin for 10 times!).
            </p>
            <p>
                Take a look the summary table above, I think it proves our suspicion that we're most likely
                to be somewhere in the middle. Meaning that if we toss a coin for 10 times, we're most likely to
                have a 4,5 or 6 number of Heads.
            </p>
            <div class="interesting">
                <p>
                    If we sum up
                    <pre>
  (0  * Number of trials that we got 0  Heads) 
+ (1  * Number of trials that we got 1  Head ) 
+ (2  * Number of trials that we got 2  Heads)
+  ...
+ (10 * Number of trials that we got 10 Heads)</pre>
                    We end up with a number that is very close to 100:
                </p>
                <pre class='math-sum'></pre>
                <p>
                    100 is indeed (200/2) or (200 * 0.5). Where 200 is the total number of times that we tossed the coin
                    and 0.5 is the probability of getting a Head at each toss.
                    If our coin was not fair (meaning that the probability of getting Head was not 0.5, or 50%) 
                    then this number would have been different. More about this later.
                </p>
            </div>
        </section>
        <section id="coin-10-times-20-trials">
            <p>
                We're going to love visualization and prefer graphs to data tables.
                We can put the number Heads on X axis and the the number of times that
                we ended up with that number of Heads on Y.
            </p>
            <p>
                Technically we say that the number of Heads is the independant variable, each time that we
                repeat a trial (tossing a coin 10 times) we end up with some number of Heads.
            </p>
            <svg class='experiment results'></svg>
            <p>
                We call this graph a histogram. The height of each bar (at each X)
                shows how many times we had X number of Heads in our experiment.
            </p>
            <p>
                One way to think about histogram, is that the histogram is made of 10 bins.
                At the end of each trial, when we count the number of Heads, we add one item to the correspoding bin.
                For example if we have 3 Heads, we add one to the 3rd bin and so on.
                Click on the <button data-action='coin-10-times-20-trials-graph-slow'>animate</button> button to see how this happens slowly.
            </p>
            <p>
                <button data-action='coin-10-times-20-trials-all'>Repeat</button> the experiment a few of times and
                check the shape of the histogram.
            </p>
        </section>
        <section id="coin-10-times-1000-trials">
             <p>
                Utilizing our bins thinking ...
                Now let's repeat the experiment, but this time repeat the trials for 500 times.
                <button data-action='coin-10-times-1000-trials-all'>Do it!</button>
            </p>
            <table class='results experiment table-summary' cellpadding="0" cellspacing="0" border="1">
                <tbody>
                    <tr class='count'>
                        <th>Count of Heads</th>
                    </tr>
                    <tr class='trials'>
                        <th>Number of Trials</th>
                    </tr>
                </tbody>
            </table>
            <svg class='experiment results'></svg>
            <p>
                <button data-action='coin-10-times-1000-trials-graph-slow'>Slower</button>
            </p>
            <p>
                There's nothing magic about number 10. Use the slider below to change the number of tosses
                in each trial, and see how the summary data table and the graph changes for different number of tosses
                per trial.
            </p>
            <div>
                <input type="range" min="1" max="15" value="10" name='number-of-bins'>
                <button data-action='coin-10-times-1000-trials-all'>Redo with <label data-value-for='number-of-bins'>10</label> bins</button>
            </div>
            <p>
                When we toss a coin for 15 times, we might get 0 Heads, 1 Heads, ... 15 Heads.
                We are more likely to get 7 or 8 Heads. But if we're very lucky, there's still a chance that get 13, 14 or 
                15 Heads.
            </p>
            <p>
                This is exactly what our histogram is showing. In this example, the height of the bar
                ar 7 for instance, shows how many times we got a Head after 500 trials.
                Go ahead and <button data-action='coin-10-times-1000-trials-all'>redo</button> the experiment a few times.
                Note that unlike when we were doing the experiment by only 20 trials, this time (that we do 500 trials),
                the shape of the histogram change very little. We always have a pick in the middle and the sides are
                shallow.
            </p>
            <p>
                Change the number trials:
            </p>
            <div>
                <input type="range" min="1" max="500" value="500" name='number-of-trials'>
                <button data-action='coin-10-times-1000-trials-all'>Repeat the trial <label data-value-for='number-of-trials'>500</label> times</button>
            </div>
            <p>
                Note that the shape of the histogram becomes less predictable with smaller number of trials.
            </p>
        </section>
        <section>
            <h2>Chance</h2>
            <p>
                When we toss a coin for 10 times, we might have any number of Heads (between 0 and 10).
                Some number of Heads are more likely than others. For instance you consider youself very
                lucky if you get a Head only 2 times after tossing a coin for 10 times.
            </p>
            <p>
                A very interesting question is that what's the chance of getting 2 Heads or 5 Heads or 7 Heads
                by tossing a coin for 10 times?
            </p>
            <p>
                Our intuition says the number of Heads after tossing a coin for 10 times should be close to 5.
                And the chance of getting extreme values of 0 and 1 or 9 and 10 Heads are very shallow.
                Again this is exactly what our histogram is showing.
                In fact there's a direct relationship between the height of the bars and the likelyhood of 
                getting that number of Heads.
            </p>
        </section>
            <!-- 

                then show the plot of binomial distribution for 30 trials. (if instead of repeating the experiment 
                a million times, we use the correct precise mathematical formulas to calculate the chance
                that we get X Heads by 10 toss of a coin)
                
                Change of Y axis from numbers to probability -> Normalization



                forget the detailed explanation of 10000 times. Just say as #trials grow the shape looks
                closer to normal bell curve. To get a better shape let's do 30 trials 10000 times. + sliders

                law of large numebrs (10000).

                
                then Landing Page
             -->
        <section>
            <p>
                Let's say we want to study the conversion rate of a landing page.
            </p>
                First, note that conversion of a landing page, very much like tossing a coin
                has two outcomes: Success and Failure
                (in tossing a coin our outcomes were Head and Tail).
            </p>
            <p>
                Second, when we have let's say 15 visitors, it's very much like throwing a coin for 15 times.
                Each time that we toss a coin we get either a Head or a Tail. And the number of Heads or Tails after 15
                tosses is between 0 and 15. Similarly the number of Successes or Failures in 15 trials is 
                between 0 and 15. And knowing the numebr of Successes or Failures is sufficient. For example if we
                have 6 Successes, then we have 9 Failures <code>(15 - 6 = 9)</code>.
            </p>
            <p>
                The whole idea of statistics is that we can't or we don't want to do an experiment with all the members of
                our population. In our landing page scenario, the population is anybody
                that will ever visit our landing page.
                As long as our page is getting more visits everyday, we're not going to know our whole population. Simply 
                because tomorrow we have more people visited our landing page.
            </p>
            <p>
                We're almost always dealing with a sample (subset) of our population.
                Because we're always studying a part of the population, we cannot be sure that our
                statistics are 100% accurate. For example if we measure that the conversion rate of our landing page
                is 30%,
            </p>
            <p>
                One way of thinking about the statistics of tossing a coin is that, we have an infinitely large
                dataset of tosses (our population is an infinite list of toss results: Heads or Tails). Tossing
                a coin for 200 times is equivalent to randomly pickining 200 items from this infinite list.
            </p>
            <pre>
              ...
              T  ,  H  ,  T  ,  H  ,  H  ,  T  , [H] ,  H  ,  T  ,  H 
              H  ,  T  ,  H  ,  H  ,  T  ,  H  ,  H  ,  T  ,  H  ,  T
              T  , [H] ,  T  ,  T  ,  H  , [T] ,  H  ,  H  ,  T  ,  H 
              H  ,  T  , [H] ,  H  ,  T  ,  H  ,  T  ,  T  ,  H  , [T] 
              T  ,  H  ,  T  ,  T  ,  H  ,  T  ,  H  ,  H  ,  T  ,  H 
              ...
            </pre>
            <p>
                This interpretation is very useful in our landing page problem.
                Each cell is a visitor.

                We are interested to know how likely it is that we get the actual conversion rate of a landing page
                if our sample made of only 200 visitors.

                It's like picking 200 subjects from the infinite list of visitors.

                Hence uncertainty
            </p>




            <p>
                Now, when we're testing a landing page, we're usually dealing with a number of subjects that is 
                very larger than 15.
            </p>


            <p>
                For now, let's assume we have 100 subjects.
                The result of the test for each subject is either Success or Failure.
                Let's assume that we have a luxary to perform
            </p>
            <p>
                This graph has a very distinctive shape.
                Bell curve
                Why we repeat?
            </p>
        </section>
        <section>
            <h2>Unfair Coins</h2>
            How it's all related to UX
            Binomial distribution and bell curve, data table for an unfir coins.
            Notice the bell curve is shifted, its shape has not changed, but it's center of mass is not in the middle anymore
            <!-- use correct binomial numbers
             for binomial coefficient use Multiplicative form: http://en.wikipedia.org/wiki/Binomial_coefficient 
             -->
        </section>
        <section>
            <h2>Confidence Intervals</h2>
            <p>
                We usually perform A/B tests with a number of subjects that is way larger than 15.
                In fact, a little bit later, we're going to calculate the minimum number of subjects that are
                needed to confidently conclude a test.
            </p>
        </section>
        <section>
            <h2>Formula</h2>

            Haskell code
        </section>
        <section>
            <h2>Normal approximation</h2>
        </section>
        <section>
            <h2>A/B Test</h2>

            So far we've been interpreting satistics as doing a random experiment over and over again.
            Another interpretation of statistics is that we're drawing randomly selected subsets (samples)
            of a very large population: Frequentism
            This interpretation is useful when dealing with popular polls.
            (polls: sample is less than population)
            draw over and over again


            Two/or more binomial distributions

            Next post:
                A/B confidence intervals

            Next post:
                Holy grail of A/B: case assignment

        </section>
        <section>
            Now let's toss a coin for 100 times and count the number of heads. We expect
            the number of times that the coin lands on head be equal to the number of times that it lands on
            tail and equal to 50.
        </section>
        
    </article>
    <script src="javascript/libs/prelude-browser.js"></script>
    <script src="home/javascript/utils.js"></script>
    <script src="home/javascript/binomial-histogram.js"></script>
    <script src="home/javascript/index.js"></script>
</body>
</html>