<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/d3.js"></script>
    
        <link href="home/style/index.css" type="text/css" rel="Stylesheet" />
    </head>
<body>
    <header>
    </header>
    <article id="graphs">
        <section id='coin-2-times'>
            <p>
                Let's toss a coin for a couple of times:
            </p>
            <table class='results'>
                <thead>
                    <tr>
                        <th>Toss</th>
                        <th>Rssult</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot class="summary">
                    <tr>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <th>Heads:</th><td data-value='Heads'></td>
                                </tr>
                                <tr>
                                    <th>Tails:</th><td data-value='Tails'></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </section>
        <section id='coin-10-times'>
            <p>
                Now let's toss a coin for 10 times:
            </p>
            <table class='results'>
                <thead>
                    <tr>
                        <th>Trial</th>
                        <th>Rssult</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot class="summary">
                    <tr>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <th>Heads:</th><td data-value='Heads'></td>
                                </tr>
                                <tr>
                                    <th>Tails:</th><td data-value='Tails'></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </section>
        <section id="coin-10-times-20">
             <p>
                Now let's toss a coin for 10 times, count the number of heads and 
                repeat this experiment for 20 more times.
            </p>
            <table class='results'>
                <thead>
                    <tr>
                        <th>Toss</th>
                        <th>Rssult</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot class="summary">
                    <tr>
                        <th>Heads:</th>
                        <td data-value='Heads'></td>
                    </tr>
                </tfoot>
            </table>
            <svg id="binomial-n-tries"></svg>
        </section>
        <section>
            Now let's toss a coin for 100 times and count the number of heads. We expect
            the number of times that the coin lands on head be equal to the number of times that it lands on
            tail and equal to 50.
        </section>
        
    </article>
    <script src="javascript/libs/prelude-browser.js"></script>
    <script src="home/javascript/utils.js"></script>
    <script src="home/javascript/index.js"></script>
</body>
</html>